@model List<ProyectoNET_DB.Info2017.Filedescription>
@{
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
}

<div class="col-10 ">
    <div class="card-inf my-3 ml-0">
        <div class="card-header-inf bg-inf-blue h3 text-white">@ViewBag.title</div>
        <div class="card-body-inf">

            <ul class="nav nav-tabs card-header-tabs nav-fill px-2">
                <ul class="nav nav-tabs nav-fill card-header-tabs px-2">
                    <li class="nav-item"><a class="nav-link inactive-inf text-white" asp-controller="Posts" asp-action="Index">Muro</a></li>
                    <li class="nav-item"><a class="nav-link active-inf text-uppercase text-white" asp-controller="FileClient" asp-action="Index">Materiales</a></li>
                    <li class="nav-item"><a class="nav-link inactive-inf text-white" asp-controller="Evaluations" asp-action="Index">Instancias Evaluativas</a></li>
                </ul>
        </div>

        <div class="card-body-inf bg-inf-gray">

            <div style="justify-content:flex-end;padding-top: 20px;padding-right: 20px">
                <a asp-action="AgregarArchivos" asp-route-id=@ViewBag.IDModule class="btn btn-inf btn-sm mb-3"> + Agregar Material</a>

            </div>

            <table class="table">
                <thead class="text-white bg-inf-blue">
                    <tr>

                        <th scope="col">
                            <a>Nombre</a>
                        </th>
                        <th scope="col">

                            <a>Descripción</a>
                        </th>
                        <th scope="col">
                            <a>Docente</a>
                        </th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a asp-action="download" asp-route-id="@item.IdfileDescription">@item.FileName</a>
                            </td>
                            <td>
                                @item.Description
                            </td>
                            <td>
                                @item.CreatedTimestamp
                            </td>
                            <td>
                                @item.TeacherName
                            </td>
                            <td>
                                <a asp-action="Delete" asp-route-id=@item.IdfileDescription class="fas fa-trash" style="justify-content:flex-end"></a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>
    </div>
</div>
</div>
