@model IEnumerable<ProyectoNET_DB.Info2017.Evaluation>

@{
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
}



<div class="col-10 ">
    <div class="card-inf my-3 ml-0">
        <div class="card-header-inf bg-inf-blue h3 text-white">@ViewBag.title</div>


        <div class="card-body-inf ">

            <div class="card-inf-gray">
                <ul class="nav nav-tabs nav-fill card-header-tabs px-2">


                    <li class="nav-item"><a class="nav-link inactive-inf text-white" asp-controller="Posts" asp-action="Index">Muro</a></li>
                    <li class="nav-item"><a class="nav-link inactive-inf text-white" asp-controller="FileClient" asp-action="Index">Materiales</a></li>
                    <li class="nav-item"><a class="nav-link active-inf" asp-controller="Evaluations" asp-action="Index">Instancias Evaluativas</a></li>



                </ul>
                <div class="card-body-inf-white pre">
                    <div class="text-right" style="padding-top: 20px;padding-right: 15px">
                        <a asp-action="Create" asp-route-id=@ViewBag.IDModule class="btn btn-inf btn-sm mb-3">+ Agregar Instancia Evaluativa</a>
                    </div>


                    @foreach (var item in Model)
                    {
                        <div class="col-12">
                            <div class="card-inf-gray text-white ml-3 mb-3">
                                <div class="card-header-inf bg-inf-blue">
                                    <div class="row">
                                        <div class="col-6 ">
                                            <a class="text-uppercase">@Html.DisplayFor(modelItem => item.Name)</a>

                                        </div>

                                        <div class="col-6 text-lg-right">

                                            @Html.DisplayFor(modelItem => item.DateEvaluation) |

                                            <a asp-action="Delete" asp-route-id="@item.IdEvaluation" class="fas fa-trash btn btn-inf text-white"></a>

                                        </div>
                                    </div>


                                </div>

                                    <div style="background-color: white;">
                                        <div class="card-body-inf  text-dark">
                                            <div class="card-text">

                                                @foreach (var feedback in item.Feedback)
                                                {

                                                    <div id="feed-@feedback.Idfeedback">
                                                        <div class="row" style="padding-bottom:10px">
                                                            <div class="col-12">
                                                                <div class="card-inf bg-inf-gray">
                                                                    <div class="card-header-inf bg-inf-blue lead text-white">


                                                                        <div class="row">
                                                                            <div class="col-10 ">
                                                                                <a style="padding-left:5px">@Html.DisplayFor(modelItem => feedback.IdStudentNavigation.FirstName) @Html.DisplayFor(modelItem => feedback.IdStudentNavigation.LastName)</a>
                                                                                <a id="feed-edit">
                                                                                    <button id="feed-editbutton" onclick="toggleEdit(@feedback.Idfeedback)" class="fas fa-pencil-alt btn btn-inf text-white"></button>
                                                                                </a>
                                                                            </div>

                                                                            <div class="col-2 text-lg-right">


                                                                                <p id="feed-note-l">Nota: @Html.DisplayFor(modelItem => feedback.Note)</p>

                                                                            </div>
                                                                        </div>




                                                                    </div>
                                                                    <div class="card-body-inf">



                                                                        <p id="feed-description-l">@Html.DisplayFor(modelItem => feedback.Description) </p>

                                                                        <textarea rows="3" placeholder="@Html.DisplayFor(modelItem => feedback.Description)" class="form-control" style="display:none;margin-bottom:5px" name="description" id="feed-description" value="@Html.DisplayFor(modelItem => feedback.Description)"></textarea>

                                                                        <select id="feed-note" value="@Html.DisplayFor(modelItem => feedback.Note)" style="display:none;margin-bottom:10px" class="form-control">
                                                                            <option>1</option>
                                                                            <option>2</option>
                                                                            <option>3</option>
                                                                            <option>4</option>
                                                                            <option>5</option>
                                                                            <option>6</option>
                                                                            <option>7</option>
                                                                            <option>8</option>
                                                                            <option>9</option>
                                                                            <option>10</option>
                                                                        </select>


                                                                        <p>

                                                                        </p>

                                                                        <div class="row" id="feed-save" style="display:none">
                                                                            <div class="col-6 ">
                                                                                <button id="feed-savebutton" onclick="editFeedback(@feedback.Idfeedback)" class="btn btn-inf btn-sm btn-block mt-3">Guardar</button>
                                                                            </div>

                                                                            <div class="col-6 ">
                                                                                <button onclick="toggleEdit(@feedback.Idfeedback)" class="btn btn-inf btn-sm btn-block mt-3">Cancelar</button>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                }


                                            </div>

                                        </div>
                                    </div>



                                </div>

                        </div>

                    }
                </div>
        </div>

    </div>
</div>
            </div>

</div>