@model List<ProyectoNET_LocalDB.Models.FileDescription>
@{
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
}

<div  class="col-10 p-0">
    <div class="card-inf-gray ml-3 mb-3">
        <div  class="card-header-inf bg-inf-blue h3 text-white">@ViewBag.title</div>
        <div class="card-body-inf">
            <div class="card-header bg-inf-blue">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item"><a class="nav-link inactive-inf text-dark" asp-controller="Posts" asp-action="Index">Muro</a></li>
                    <li class="nav-item"><a class="nav-link active-inf" asp-controller="FileClient" asp-action="Index">Materiales</a></li>
                    <li class="nav-item"><a class="nav-link inactive-inf text-dark " asp-controller="Evaluations" asp-action="Index">Instancias Evaluativas</a></li>
                </ul>
            </div>
            <div class="card-body-inf-white pre">

                    <div style="justify-content:flex-end;padding-top: 20px;padding-right: 20px">
                        <a asp-action="AgregarArchivos" asp-route-id=@ViewBag.IDModule class="btn btn-inf btn-sm mb-3"> + Agregar Material</a>

                    </div>
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        <b>Nombre</b>
                                    </th>
                                    <th>
                                        <b>Descripcion</b>
                                    </th>
                                    <th>
                                        <b>Fecha</b>
                                    </th>
                                    <th>
                                        <b>Profesor</b>
                                    </th>
                                    <th>
                                        <b>Accion</b>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <a asp-action="download" asp-route-id="@item.Id">@item.FileName</a>
                                        </td>
                                        <td>
                                            <span name="Name" id="Name">  @item.Description</span>
                                        </td>
                                        <td>
                                            <span name="CreatedTimestamp" id="CreatedTimestamp">  @item.CreatedTimestamp</span>
                                        </td>
                                        <td>
                                            <span name="TeacherName" id="TeacherName">  @item.TeacherName</span>
                                        </td>
                                        <td>
                                            <a asp-action="Delete" asp-route-id=@item.Id class="btn btn-inf btn-sm mb-3">Eliminar</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
</table>
            </div>
        </div>
    </div>
</div>
