<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <environment>
        <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="~/css/fa-solid.css">
        <link rel="stylesheet" type="text/css" href="~/css/fa-brands.css">
        <link rel="stylesheet" type="text/css" href="~/css/fa-regular.css">
        <link rel="stylesheet" type="text/css" href="~/css/fontawesome.css">
        

        <script src="https://code.jquery.com/jquery-3.2.1.js"
                integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
                crossorigin="anonymous"></script>
            <script type="text/javascript" src="js/bootstrap.bundle.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/js/site.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/js/site2.js" asp-append-version="true"></script>

        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </environment>
</head>
<body class="bg-inf-gray">

    <!-- BARRA DE NAVEGACIÓN -->
    <div class="bg-inf-blue">
        <!-- Esto es necesario para poner la navbar dentro de un contaner sin notar el padding -->
        <div class="container">
            <nav class="navbar bg-inf-blue navbar-expand-lg">
                <a class="navbar-brand" href="index.html">
                    <img src="Images/Logotipo-Informatorio.svg" class="align-top" alt="Cinque Terre" height="25">
                </a>
                <div class="collapse navbar-collapse justify-content-end" id="responsivo">
                    <div class="row">
                        <div class="col-12">
                            <ul class="nav navbar-nav ml-auto  mt-2 mt-md-0 enlace">
                                <li><a class="nav-item nav-link text-white" href="#">DOCENTE</a></li>
                                <li><a class="nav-item nav-link text-white" href="http://192.168.42.27:8000/logout">CERRAR SESIÓN</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <!-- BARRA LATERAL -->
            <div class="col-2 bg-white shad-inf p-0">
                <div class="row p-0 m-3">
                    <div class="col-12 btn btn-sm btn-inf mb-3">Ver Cursos</div>
                    <ul class="list-unstyled col-12 p-0">
                        <li class="h6">@ViewBag.user.LastName @ViewBag.user.FirstName </li>
                        <li><small>@ViewBag.user.Dni</small></li>
                        <li><small>@ViewBag.user.Email</small></li>
                        <li><h6><a href="http://192.168.42.27:8000/Usuarios/editardatos/{id_user}">Editar Datos</a></h6></li>
                    </ul>

                    <ul class="list-unstyled col-12 p-0">
                        <li><small><a href="http://192.168.42.27:8000/Cursos/CursosActuales/{is_user}">VER CURSOS</a></small></li>
                    </ul>
                </div>
            </div>


            @RenderBody()
        </div>
    </div>

    <footer class="bg-inf-blue">
        <div class="container">
            <div class="row text-white py-3">
                <div class="col-6 h6">Contacto</div>
                <div class="col-6 h6">Redes</div>
                <div class="col-2">
                    <ul class="list-unstyled">
                        <li class="h6">Informtorio Chaco</li>
                        <li>Arturo Illia 1055</li>
                        <li>XXX XXX-XXXX</li>
                    </ul>
                </div>
                <div class="col-2">
                    <ul class="list-unstyled">
                        <li class="h6">Informtorio Chaco</li>
                        <li>Arturo Illia 1055</li>
                        <li>XXX XXX-XXXX</li>
                    </ul>
                </div>
                <div class="col-2">
                    <ul class="list-unstyled">
                        <li class="h6">Informtorio Chaco</li>
                        <li>Arturo Illia 1055</li>
                        <li>XXX XXX-XXXX</li>
                    </ul>
                </div>
                <div class="col-6 align-items-center">
                    <a href="#"><img src="~/Images/facebook-logo-button.png" height="40px"></a>
                    <a href="#"><img src="~/Images/twitter-logo-button.png" height="40px"></a>
                </div>
                <div class="col-12">
                    <small>Información institucional y todo lo necesario de esta pequeña línea de texto</small>
                </div>
            </div>
        </div>
    </footer>
</body>





@RenderSection("scripts", required: false)
</html>
