@model IEnumerable<DataAccess.models.Course>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Inicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Final)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Direccion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdLocalidad)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Final)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdLocalidad)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCurso">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdCurso">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCurso">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
