@model IEnumerable<ProyectoNET_DB.Info2017.Post>

@{
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
}

<div class="col-10 ">
    <div class="card-inf my-3 ml-0">
        <div class="card-header-inf bg-inf-blue h3 text-white">@ViewBag.title</div>

        @*// <div style="background-color: whitesmoke;">*@
            <div class="card-body-inf ">

                <div class="card-inf-gray">
                    <ul class="nav nav-tabs nav-fill card-header-tabs px-2">

                        <li class="nav-item"><a class="nav-link active-inf text-uppercase" asp-controller="Posts" asp-action="Index">Muro</a></li>
                        <li class="nav-item"><a class="nav-link inactive-inf text-white" asp-controller="FileClient" asp-action="Index">Materiales</a></li>
                        <li class="nav-item"><a class="nav-link inactive-inf text-white" asp-controller="Evaluations" asp-action="GetStudents">Instancias Evaluativas</a></li>
                    </ul>
                    <div class="card-body-inf-white pre">
                        <div class="text-right" style="padding-top: 20px;padding-right: 20px">
                            <a asp-action="Create" asp-route-id=@ViewBag.IdModule class="btn btn-inf btn-sm mb-3">+ Agregar Publicación</a>
                        </div>

                        @foreach (var item in Model)
                        {
                            <div class="row mx-3" style="padding-bottom: 10px">
                                <div class="col-12 card-inf bg-inf-blue text-white p-0">

                                    <div class="card-header-inf">
                                        <div class="row">
                                            <div class="col-6 ">
                                                <a class="text-uppercase">@Html.DisplayFor(modelItem => item.Title)</a>

                                            </div>

                                            <div class="col-6 text-lg-right">
                                                @Html.DisplayFor(modelItem => item.DateTime) | @Html.DisplayFor(modelItem => item.NameTeacher) 

                                                <a asp-action="Edit" asp-route-id="@item.IdPost" class="fas fa-pencil-alt btn btn-inf text-white"></a>  
                                                <a asp-action="Delete" asp-route-id="@item.IdPost" class="fas fa-trash btn btn-inf text-white"></a>
                                            </div>
                                            </div>
                                    </div>
                                    <div class=" card-body-inf py-0 mb-3 p-2">

                                        @Html.DisplayFor(modelItem => item.Description)
                                    </div>
                                </div>
                            </div>
                        }



                        @*</div>*@
                    </div>

            </div>
        </div>
    </div>
</div>